# sshd_config
# This is the sshd server configuration file.  
# https://stribika.github.io/2015/01/04/secure-secure-shell.html
# https://www.lowendguide.com/3/security/how-to-harden-and-secure-ssh-for-improved-security/
# https://www.rackaid.com/blog/how-to-harden-or-secure-ssh-for-improved-security/
# https://research.kudelskisecurity.com/2013/11/28/openssh-hardening-for-cloud-machine-part-1/
# https://linux.die.net/man/5/sshd_config
# https://rubysash.com/operating-system/linux/enable-ed25519-ssh-keys-auth-on-ubuntu-18-04/

Port 22
Port 30034

# Best Practice, Proto 2 only
Protocol 2

# ipv4 only
AddressFamily inet

# Enforce file permissions of user configs
StrictModes yes

# For SSH session multiplexing only
MaxSessions 10

# Depreciated, login then startup process, separate privs
UsePrivilegeSeparation yes

# Max time you have to actually login before disconnect
LoginGraceTime 30

# Max unauthed startup of ssh (start:rate:full)
#   start: Number of unauthenticated connections before we start dropping
#   rate: Percentage chance of dropping once we reach 10 (increases linearly for more than 10)
#   full: Maximum number of connections at which we start dropping everything
MaxStartups 2:50:20

# not using X11 forwards, but user can still use their own forwarder
X11Forwarding no
X11DisplayOffset 10
X11UseLocalhost no

# other forwarding (if you use ssh tunnel don't disable this)
AllowTcpForwarding yes
GatewayPorts clientspecified
PermitTunnel yes

# hostkeys, aka "fingerprint", Server authenticity
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

# Enable compression, delayed for security
Compression delayed

# who can login, better to use AllowedGroups, but this works
# AllowUsers root ordinator_dragon ord ordinator

# How they login
PasswordAuthentication no
PermitEmptyPasswords no
PubkeyAuthentication yes
PermitRootLogin no
PermitUserEnvironment yes # only use this setting on a private (not shared) box 
UseLogin no

# if PAM yes, only root can login, and disable challenge
UsePAM yes
ChallengeResponseAuthentication no

# Logging, MaxAuth if > 1 fails, logs
SyslogFacility AUTH
LogLevel VERBOSE
MaxAuthTries 4

# Rhosts
IgnoreRhosts yes
HostbasedAuthentication no

# system sends keepalive to other side, death is noticed, prevents ghosts
TCPKeepAlive yes

# Banner and info to user
PermitTTY yes
Banner /etc/ssh/warning_message
PrintLastLog yes
PrintMotd no

# do not foward local settings, server wide
# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems (allow sftp)
Subsystem       sftp    /usr/lib/openssh/sftp-server

# If not contact from client, disconnect them
ClientAliveInterval 45
ClientAliveCountMax 3

# not helpful, but not harmful either
UseDNS yes

# custom message after connections
VersionAddendum this is a private network


### Crypto

# Host key algorithms 
HostKeyAlgorithms ssh-ed25519,rsa-sha2-512,rsa-sha2-256

# Key Exchange Algos for initial encryption
# curve is better, but keep DH for WinSCP and Eclipse interop and Possibly GitHub
KexAlgorithms curve25519-sha256@libssh.org,curve25519-sha256,diffie-hellman-group-exchange-sha256

# Allowed Ciphers for use after kex
# chacha20-poly1305 is preferred over aes to prevent certain types of traffic analysis
# ctr is for compatibility, but we remove 128 and force manually enable if needed later
#Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr,aes192-ctr

# Data Integrity Algos
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-512,hmac-sha2-256-etm@openssh.com,hmac-sha2-256,


# examples of custom settings for match groups:
# sftp only allowed
Match group sftp-only
    X11Forwarding no
    AllowTcpForwarding no
    ChrootDirectory %h
    ForceCommand internal-sftp
    PasswordAuthentication no

# proxy only allowed, no shell
Match group proxy-only
    AllowTcpForwarding yes
    ChrootDirectory %h
    ForceCommand /sbin/nologin
    GatewayPorts yes
    KbdInteractiveAuthentication no
    PasswordAuthentication no
    PubkeyAuthentication yes
    PermitRootLogin no
    PermitTTY no


# AllowAgentForwarding yes
# AuthorizedKeysCommand none
# AuthorizedKeysCommandUser nobody
# AuthorizedKeysFile     .ssh/authorized_keys .ssh/authorized_keys2
# AuthorizedPrincipalsFile none
# ForwardAgent yes
# GSSAPIAuthentication no
# GSSAPICleanupCredentials yes
# GSSAPIKeyExchange no
# GSSAPIStrictAcceptorCheck yes
# IgnoreUserKnownHosts no # Change to yes if you don't trust ~/.ssh/known_hosts for HostbasedAuthentication
# KerberosAuthentication no
# KerberosGetAFSToken no
# KerberosOrLocalPasswd yes
# KerberosTicketCleanup yes
# ListenAddress 0.0.0.0
# ListenAddress ::
# PidFile /var/run/sshd.pid
# RekeyLimit default none

#EOF
